{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Homebnb{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-3">Bienvenue sur Homebnb</h1>
            <p class="lead">Nous mettons en relations les voyageurs et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposant leur bien à la location !</p>
            <hr class="my-4">
            <p>Vous êtes voyageur ? Et vous voulez voir où loger pour votre prochain déplacement ?</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
            </p>
        </div>

        <h2>Nos appartements stars !</h2>

        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49&euro; par nuit</strong><br>
                        Pas encore noté
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block;">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de fou !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum nam sunt ut soluta quam quaerat rem? Esse, omnis dolores blanditiis velit aliquam odit cupiditate ex recusandae architecto, nesciunt fugit hic!
                        </p>
                        <a href="#" class="btn btn-secondary">Voir l'annonce</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49&euro; </strong>par nuit<br>
                        Pas encore noté
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block;">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de fou !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum nam sunt ut soluta quam quaerat rem? Esse, omnis dolores blanditiis velit aliquam odit cupiditate ex recusandae architecto, nesciunt fugit hic!
                        </p>
                        <a href="#" class="btn btn-secondary">Voir l'annonce</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49&euro; par nuit</strong><br>
                        Pas encore noté
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block;">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de fou !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum nam sunt ut soluta quam quaerat rem? Esse, omnis dolores blanditiis velit aliquam odit cupiditate ex recusandae architecto, nesciunt fugit hic!
                        </p>
                        <a href="#" class="btn btn-secondary">Voir l'annonce</a>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="mt-4">Nos propriétaires stars !</h2>

        <div class="row mt-4">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">
                            Emilien Gantois
                        </h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Avatar de Emilien Gantois" class="float-left mr-3">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A cum minus delectus pariatur officiis quidem et inventore consectetur beatae itaque ratione soluta, vitae optio libero animi, eveniet, reprehenderit debitis expedita.</p>
                            <a href="#" class="btn btn-success">Voir l'utilisateur</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">
                            Emilien Gantois
                        </h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Avatar de Emilien Gantois" class="float-left mr-3">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A cum minus delectus pariatur officiis quidem et inventore consectetur beatae itaque ratione soluta, vitae optio libero animi, eveniet, reprehenderit debitis expedita.</p>
                            <a href="#" class="btn btn-success">Voir l'utilisateur</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
